*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

nav{
    background-color: greenyellow;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

.logo{
    
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

ul{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

ul li{
    font-size: 18px;
}

header{
    width: 100%;
    height: 300px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-container{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.container-title{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: midnightblue;
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}

.product-holder{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 10px;
    padding: 0px 10px 0px 10px;
}

.product{
    height: 300px;
}

.product p{
    font-size: 18px;
}

.product-img{
    width: 100%;
    height:200px;
    /* border: 2px solid black; */
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-container{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid purple; */
    margin: auto;
    margin-top: 20px;
}

.detail-product-container{
    width: 400px;
    height: auto;
    /* border: 2px solid black; */
}

.detail-product-img{
    width: 100%;
    height: 350px;
}

.detail-product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-list{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-column-gap: 10px;
    margin-top: 20px;
}

.img-list .img-container{
    height: 70px;
    width: 70px;
    /* border: 1px solid purple */
}

.img-list .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description{
    width: 500px;
    height: auto;
    /* border: 2px solid blue; */
}

.title-price{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
}

.description-text{
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 10px;
}

.description-text p{
    text-align: justify;
}


form{
    width: 600px;
    height: auto;
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}

a{
    text-decoration: none;
}