{% extends 'base.html' %}


{% block content %}
      <div class="detail-container">

        <div class="detail-product-container">
            <div class="detail-product-img">
                <img src="{{product.thumbnail.url}}" alt="">
            </div>
            <div class="img-list">

                {% for image in images  %}
                <div class="img-container">
                    <img src="{{image.images.url}}" alt="">
                </div>
                {% endfor %}

                
              
            </div>
        </div>

        <div class="description">
            <div class="title-price">
                <h2>{{product.name}}</h2>
                <h3>${{product.price}}</h3>
            </div>

            <div class="description-text">
                <p>
                  {{product.description}}
                </p>
            </div>

        </div>

    </div>
{% endblock content %}
      <div class="detail-container">

        <div class="detail-product-container">
            <div class="detail-product-img">
                <img src="" alt="">
            </div>
            <div class="img-list">
                <div class="img-container"></div>
                <div class="img-container"></div>
                <div class="img-container"></div>
                <div class="img-container"></div>
                <div class="img-container"></div>
                <div class="img-container"></div>
            </div>
        </div>

        <div class="description">
            <div class="title-price">
                <h2>Product name</h2>
                <h3>$100</h3>
            </div>

            <div class="description-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>

        </div>

    </div>